<div class='mat-typography'>
	<h1 class="headline">Form with nested component</h1>

	<form [formGroup]="form">

		<mat-card>
			<mat-card-content>
				<mat-checkbox formControlName="checkmate" (change)="toggleNestedFormGroup()">
					check me
				</mat-checkbox>

				<div *ngIf="form.get('checkmate').value">
					<app-sub></app-sub>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
          Submit (non-material won't trigger error)       
        </button>
			</mat-card-actions>
		</mat-card>

		<mat-card>
			<mat-card-header> form value </mat-card-header>
			<mat-card-content> {{form.value | json}} </mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header>form status</mat-card-header>
			<mat-card-content> {{form.status | json}} </mat-card-content>
		</mat-card>

	</form>
</div>